body  {
	background:#ffffff;
	background-size:100%;
}
#wrapper {
	background: #fff2d7;
	width: 1000px;
	margin: 0 auto;
	HEIGHT: 630px;
	clear: both;
}
#header {
	background: #fff2d7;
	width: 1000px;
	margin: 0 auto;
	height: 120px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #ae7503;
	clear:both;
	font-size: 30pt;
}
#header img{
	float: left;
	width: 118px;
}

#content {
	float: right;
	background: #f2f2f2;
	width: 820px;
	height: 450px;
	box-sizing: border-box;
	border-right: 1px solid #ae7503;
	padding: 10px;
	font-size: 15pt;
	text-indent: 15px;
}
a:visited{
	color:black;
}
#nav a:hover{
	font-size: 105%;
}
#nav a:link, a:visited {
	color: black;
	text-decoration: none;
}
#nav {
	float: left;
	background: #fff2d7;
	width: 180px;
	HEIGHT: 450px;
	box-sizing: border-box;
	border-right: 1px solid #ae7503;
	border-left: 1px solid #ae7503;
	font-size: 13pt;
}
#footer {
	background: #fff2d7;
	width: 1000px;
	margin: 0 auto;
	HEIGHT: 120px;
	clear: both;
	box-sizing: border-box;
	border: 1px solid #ae7503;
	padding: 5px;
	font-size: 20px;
}
#content-nav-wrapper{
	width: 1000px;
	height: 450px;
}
.italic{
	font-style: italic;
	letter-spacing: 3px;
	font-weight: bold;
}
.cursive{
	font-style: italic;
	letter-spacing: 3px;
}
.aoa{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#korzinaimg > img {
	width: 200px;
}


#korzina {
	width: 820px;
	height: 450px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.container {   width: 75%;
	border: 2px solid #efe1c4;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 20px;
	margin: 20px auto;
  }
  
  .container span {
	font-size: 20px;
	margin-right: 15px;
  }
  @media (max-width: 450px) {
	.container {
	  text-align: center;
	}
  }
